.tile {
  border-radius: .5em;
  text-align: center;
  color: white;
  background: gray;
}

.user-img {
  padding-top: 10px;
}

.score {
  padding-bottom: 5px;
}

.donate {
	padding-top: 20px;
	padding-left: 20px;
}

.paypal-button {
  padding: 4px 19px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 13px;
  font-family: "Arial", bold, italic;
  font-weight: bold;
  font-style: italic;
  border: 1px solid #ffa823;
  color: #0E3168;
  background: #ffa823;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  cursor: pointer;
  z-index: 0;
}
