<style type="text/css">

.email {
    background-image: url('views/assets/email.jpg');
    background-repeat: no-repeat;
    background-size: 23px 23px;
}


.share-tile {
  background-color: white;
  font-family: "futura";
  color: gray;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  height: 80%;
  border: 5px solid gray;
}

.reason {
  background-color: white;
  font-family: "futura";
  color: gray;
  width: 65%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  height: 70%;
  border: 5px solid #fcbb45;
}

.share {
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  width: 140px;
  border: 2px solid gray;
}

.reason-box {
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  width: 80%;
}

.button-reason {
  margin-left:auto;
  margin-right:auto;
  width: 40px;
}

.share-buttons {
  margin-bottom: 10px;
}

.hide-button {
  position: absolute; top: 10px; right: 10px;
}

.center-me {
  margin-left:auto;
  margin-right:auto;
}

.our-overlay {
  width: 50%;
}

</style>



<div data-options="dxView : { name: 'share', title: 'Share your Chime!' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
      <div class="item-container share-tile">
          <div class="reason">
            <div style="margin:10px;text-align:center"><h2>I chime for <span data-bind="text: cause"/> because</h2></div>

            <div class="reason-box"><TEXTAREA NAME="Address" data-bind="value: reason"></TEXTAREA>
              <br/>
              <div class="button-reason">
                <div id="buttonContainer" data-bind="dxButton: { text: '', clickAction: showOverlay, iconSrc: 'views/assets/Comment-1@2x.png' }"></div>
              </div>
            </div>
          </div>
          <br/>

          <div id="overlayContainer" data-bind="dxOverlay: { visible: overlayVisible, width:'200px' }">
            <div class="overlayContents">
              <div class="button hide-button" data-bind="dxButton: { text: 'X', clickAction: '#chimes/{id}/{cause}' }"></div>
              <div class="center-me">
                <img data-bind="attr {src: overlayImg}" />
              </div>
              <div class="share">
                <div style="margin:10px;text-align:center;text:gray"><h2>Share your chime for more chime points</h2></div>
                <div class="share-buttons">
                  <a data-bind="attr: {href:'https://twitter.com/intent/tweet?hashtags=IChimeFor&original_referer=https%3A%2F%2Fchimeforchange.org%2Fresources%2Fbuttons&text=' + tweet + '&tw_p=tweetbutton&url=http%3A%2F%2Fchimeforchange.org'}"class="twitter-share-button" data-count="none" sy>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a data-bind="attr: {href:'http://www.facebook.com'}" class="facebook">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a data-bind="attr: {href:'http://www.gmail.com'}" class="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <br>
                </div>
              </div>
            </div>
          </div>
      </div>

    <div id="overlayContainer" data-bind="dxOverlay: { visible: overlayVisible }">
	  <div class="overlayContents">
	      <p>The overlay window text.</p>
	      <div class="button" data-bind="dxButton: { text: 'Hide overlay', clickAction: '#chimes' }"></div>
        <img data-bind="attr {src: overlayImg}" />
	  </div>
	</div>
</div>